#container {
  max-width: 1000px;
  margin: 30px auto;
  background: #cbf7bc;
  padding: 3rem;
}


table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: 1px solid #cbcbcb;
  background: #e7ffdf;
  margin: 20px auto;
}

td, th {
  border-left: 1px solid #cbcbcb;
  border-width: 0 0 0 1px;
  font-size: inherit;
  margin: 0;
  overflow: visible;
  padding: 0.5rem 1rem;
}

th {
  background: #cc90c0;
  text-align: left;
  vertical-align: bottom;
}



tr:nth-child(2n-1) td {
  background: #f2f2f2;
}


td, th {
  border-width: 0 0 1px 0;
  border-bottom: 1px solid #cbcbcb;
}


/* media queries */

@media screen and ( max-width: 1024px ) {
  body {
    background: #cbf7bc;
  }
}

@media screen and ( max-width: 850px ) {
  #container {
    max-width: 100%;
    min-width: 100%;
    margin: auto;
    padding: 1rem 0;
  }
  p {
    width: 90%;
    margin: auto;
  }
  td, th {
    padding: 0.2rem 0.5rem;
  }
}
